/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "materialize";
 body {
    @extend .grey, .darken-3;
}
nav {
    @extend .grey, .darken-3;
    color: map-get($grey, 'lighten-3');
    font-size: 14pt;
}
#content {
    @extend .flow-text;
    color: map-get($grey, 'lighten-3');
    resize: none;
    height: 100vh;
    &, &:focus {
        border: 0 none #FFF;
        outline: none;
        overflow: hidden;
    }
}

.hide {
    display: none;
}

#navbar-main {
    z-index: 0;
}
.timer {
    @extend .navbar-fixed;
    position: fixed;
    top: 0;
    right: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0 15px;
    z-index: 10;
    color: rgb(238, 238, 238);
    font-size: 14pt;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    div {
        flex: 1;
    }
}

.progress {
    @extend .grey, .lighten-5;
}

.no-warning {
    background-color: #bdbdbd;
}

#done {
    display: none;
}
a.brand-logo {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
#nav-mobile {
    li {
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */